<!DOCTYPE html>
<html>
<head>
    <title>Qurum test - Vote Page - Legislators and Bills</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Table with results -->
    <div class="container">
    <h2>Legislator votes count</h2>
    <h4>1. For every legislator available, how many bills did the legislator support (voted for the bill)? How many bills did the legislator oppose (voted against)?</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Legislator ID</th>
                <th>Name</th>
                <th>Support (For)</th>
                <th>Oppose (Against)</th>
            </tr>
        </thead>
        <tbody>
            {% for legislator in legislators %}
            <tr>
                <td>{{ legislator.id }}</td>
                <td>{{ legislator.name }}</td>
                <td>{{ legislator.pros }}</td>
                <td>{{ legislator.cons }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Bill vote count</h2>
    <h4>2. For every bill available, how many legislators supported the bill? How many legislators opposed the bill? Who was the primary sponsor of the bill?</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>BILL ID</th>
                <th>Support (For)</th>
                <th>Oppose (Against)</th>
                <th>Primary Sponsor</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <td>{{ bill.id }}</td>
                <td>{{ bill.pros }}</td>
                <td>{{ bill.cons }}</td>
                <td>{{ bill.primary_sponsor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
